<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #fab115; position:fixed;
width: 200px;
height: 900px;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'start' %}">
      <div class = "logo-image">
        {% load static %}
        <img src="{% static 'simapp/nav_logo.PNG' %}" class = 'img-responsive' style = 'width: 200px; height: 200px; margin-top: 90px;'/>
      </div>
    </a>
    <div class="w3-panel w3-padding-64">⠀⠀⠀⠀⠀⠀⠀⠀</div>
    <div class="w3-panel w3-padding-64">⠀⠀⠀⠀⠀⠀⠀⠀</div>
    <div class="w3-panel w3-padding-64">⠀⠀⠀⠀⠀⠀⠀⠀</div>
    <div class="w3-panel w3-padding-64">⠀⠀⠀⠀⠀⠀⠀⠀</div>
    <!-- Divider -->
    <hr class="sidebar-divider my-0" style = 'position:relative; top:25px; padding-bottom: 15px;'>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'start' %}">
        <i class="fas fa-fw fa-home"></i>
        <span>Home</span></a>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'sim' %}">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Simulation</span></a>
    </li>

      <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'about' %}">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Team</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

  </ul>