{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
</head>
<div class="container">

    <h2 class = "text-secondary" style="display:inline; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder; font-size: 100px;">
        GENZ Thrusters</h2>
    
    <p style ="padding-top: 50px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder; font-size: large;">
        What is GENZ Thrusters?</p>

    <p style ="padding-left: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    This particle simulator is created to optimize the geometry of a rocket thruster.</p>
    
    <p style ="padding-top: 50px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder; font-size: large;">
        Why a Particle Simulator that...?</p>

    <p style ="padding-left: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        (Talk about the reason behind choosing this and why we think this is helpful to the physics community and how they can benefit from it)
    </p>

    <p style ="padding-top: 50px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder; font-size: large;">
        How to Use it?</p>

    <ul style ="padding-left: 33px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        <li>What's needed in order to run this program</li>
        <li>How to run the simulation</li> 
        <li>What are the outcomes, and what does the data represent</li>
        <li>Maybe how to download results or smthn (idk)</li>
    </ul>

    <p style ="padding-top: 50px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder; font-size: large;">
        Future Ideas for the project</p>

    <p style ="padding-left: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        (I just thought maybe if we want we can create like a list of just random ideas that we could of added to this and be like
        what's to come... you know just so it looks like not just a finished project but like that there are ideas that you can still
        add to it)
    </p>

    <p style ="padding-top: 50px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder; font-size: large;">
        What can you use this for?</p>

    <p style ="padding-left: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        (Just if someone's interested but has no idea what they'd use this for we can give them ideas or at least
        reasons for using it and what instances it can be useful)
    </p>

    <div class="w3-panel w3-padding-64">⠀⠀⠀⠀⠀⠀⠀⠀</div>
 </div>


{% endblock content %}